footer {
  background: #000;
  color: #fff;
}
.footer_title {
  text-align: center;
  padding-top: 1rem;
  img {
    // float: left;
    border: 1px solid #fff;
    margin-right: .5rem;
  }
  span {
    // color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.footer_tell{
  text-align: center;
  margin-top: 1rem;
  ul{
    // display: inline-block;
    width: 90%;
    list-style: none;
    text-align: left;
    li{
      padding: .75rem 0;
      color: #ccc;
      a{
        color: #fff;
        text-decoration: none;
        float: right;
        font-size: 1.1rem;
      }
    }
  }
}








.copiright {

text-align: center;
color: #ccc;
padding-bottom: 1rem;
a{
  color: #ccc;
  text-decoration: none;
}



}
.so_icon {
  padding: 1rem 0;
  text-align: center;
  .soc{
    margin: 0 .3rem;
  }
}


